input, select
{
    display: inline-block;
    margin: 5px;
}

textarea
{
    display: block;
    margin: 5px;
    width: 569px;
    height: 200px;
}

button[type = submit]
{
    margin: 5px;

}

.error
{
    border-color: red;
}

ul
{
    background-color: #ffb7b7;
    width: 534px;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    list-style-type: none;
    color: #ad0000;
    border-radius: 10px;
}